.App {
  width: 100% !important;
  min-height: 100vh !important;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: flex;
  background-image: url("./assets/BG.jpg") !important;
  background-position: left !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
